svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.spiral-1 {
    stroke-width: 2px;
    stroke-dasharray: 2400;
    animation: one 5s forwards infinite;
}

.spiral-2 {
    stroke-width: 2px;
    stroke-dasharray: 2400;
    animation: one 5s reverse infinite;
}
.spiral-3 {
    stroke-width: 2px;
    stroke-dasharray: 2400;
    animation: two 5s forwards infinite;
}
.spiral-4 {
    stroke-width: 2px;
    stroke-dasharray: 2400;
    animation: two 5s reverse infinite;
}
@keyframes one {
    from {
        stroke-dashoffset: -2400;
    }
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes two {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 2400;
    }
}